* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  background: rgba(27, 26, 26, 0.973);
  color: aliceblue;
  font-family: 'Bitcount Prop Single';
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.App{
  min-height: 100vh;
  display: flex;
}

.sidebar{
  flex: 3;
  border-right: 1px solid white;
}

.main{
  flex: 9;
}

.logo{
  margin-right: 1rem;
}

.brand{
  font-size: 3rem;
}

.upperSide{
  padding: 2.5rem;
  border-bottom: 1px solid white;
  height: 70%;
}

.upperSideTop{
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}

.midBtn{
  background-color: rgba(6, 5, 5, 0.118);
  border: none;
  color: white;
  padding: 1.5rem;
  font-size: 1.5rem;
  border: 1px solid white;
  border-radius: 15px;
  cursor: pointer;
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.midBtn:hover {
  background-color: rgb(59, 58, 58);
  color: rgb(250, 249, 249);
  transition: 0.2s ease;
}


.addbtn{
  height: 2rem;
  padding-right: 1rem;
}

.query{
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 1.5rem;
  width: 25rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  border: 1px solid white;
  color: white;
  gap: 10px;
}

.lowerSide{
  padding: 2rem;
}

.listItems{
  margin: 2rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 10px;
}

.main{
  min-height: calc(100vh - 14rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 10rem;
}

.chatFooter{
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inp{
  padding: 0.5rem;
  background: rgb(44, 40, 40);
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  width: 68rem;
}

.inp>input {
  width: calc(100% - 3rem);
  outline: none;
  padding: 1.25rem;
  color: rgb(253, 253, 253);
}

.inp>input, .send{
  background: transparent;
  border: none;
}

.chats{
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 70rem;
  height: calc(100vh - 17rem);
}
.chats::-webkit-scrollbar {
  display: none;
}


.chat {
  margin: 1rem;
  padding: 2rem 3rem;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-start;
  text-align: justify;
}

.ai{
  background: rgb(73, 71, 71);
  width: fit-content;
  border-radius: 0.7rem;
}

.chatimg{
  object-fit: cover;
  width: 3.5rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
}

.chatFooter>p{
  margin: 2rem;
  font-size: small;
}

.txt{
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}